.admin-agent-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: calc(70px + 10px);
}


.agent-box.grid {
    width: 300px;
    height: 300px;
    padding: 30px 10px 30px 10px;
    background: white;
    filter: drop-shadow(0 0 1px var(--grey1));
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    overflow: hidden;
}
.agent-box.grid.skeleton {
    background: var(--grey2);
}
.agent-box.list {
    width: 100%;
    height: 300px;
    cursor: pointer;
}


.agent-box-pic-cont {
    width: 130px;
    height: 130px;
    background: var(--black1);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}




/* Agent Profile */
.agent-profile-cont {
    width: 100%;
    display: flex;
    gap: 80px;
    /* background: aliceblue; */
}


.agent-profile-left-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 50px;
}
.agent-profile-right-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.agent-profile-generic-cont1 {
    width: 400px;
    position: relative;
    background: var(--white);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px var(--grey1));
    gap: 20px;
}
.agent-profile-generic-cont2 {
    position: relative;
    background: var(--white);
    border-radius: 30px;
    padding: 30px;
    filter: drop-shadow(0 0 5px var(--grey1));
}
.agent-profile-generic-cont2.danger {
    outline: 2px solid var(--red1);
    color: var(--red1);
}


.agent-profile-pfp-cont {
    width: 150px;
    height: 150px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--black1);
    color: var(--white);
    font-size: 75px;
}


.agent-profile-listed-property-cont {
    width: 100%;
    /* background: rebeccapurple; */
    display: flex;
    gap: 20px;
    overflow: hidden;
}

