:root {
    --listing-img-wh: 400px;

    --create-listing-option-box1-width: 200px;
}

.circle-btn-1 {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: var(--grey2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/*
|----------------------------------------
| Listing Box
|----------------------------------------
*/
.agent-listing-box {
    width: var(--listing-img-wh);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
/* Listing pic */
.agent-listing-pic {
    width: var(--listing-img-wh);
    height: var(--listing-img-wh);
    border-radius: var(--radius3);
    background: var(--grey2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.agent-listing-pic img {
    position: absolute;
    height: 100%;
}
.agent-listing-pic.skeleton {
    background: var(--grey2);
}

/* Listing Description */
.agent-listing-desc {
    padding: 5px 0;
    width: 100%;
}

/* Listing Name */
.agent-listing-name {
    font-weight: bold;
    font-size: var(--text-m2);
}
.agent-listing-name.skeleton {
    width: 50%;
    height: 30px;
    background: var(--grey2);
}

/* Listing Address */
.agent-listing-address {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--text-m3);
}
.agent-listing-address.skeleton {
    width: 100%;
    height: 20px;
    background: var(--grey2);
    margin-top: 5px;
}



/* For Modals */
.listing-option-modal-pic {
    width: 150px;
    height: 150px;
    margin: 30px auto 10px auto;
    background: var(--grey1);
    border-radius: var(--radius3);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.listing-option-modal-pic img {
    position: absolute;
    height: 100%;
}






/*
|----------------------------------------
| Create Listing 
|----------------------------------------
*/
.create-listing-cont {
    width: calc(var(--create-listing-option-box1-width) * 3 + 40px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.create-listing-option-box-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: calc(var(--create-listing-option-box1-width) * 3 + 40px);
}
.create-listing-option-box1 {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    border-radius: var(--radius3);
    outline: 1px solid var(--grey1);
    background: var(--white);
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: outline 50ms ease;
    overflow: hidden;
}
.create-listing-option-box1.skeleton {
    background: var(--white2);
    outline: none;
}
.create-listing-option-box1.active {
    outline: 2px solid var(--black1);
    background: var(--grey2);
}
.create-listing-option-box1:hover {
    outline: 2px solid var(--black1);
}
.create-listing-option-box1-icon {
    height: 30px;
    align-self: self-start;
}


.create-listing-add-photo-cont1 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius2);
    outline: 1px dashed var(--black2);
    cursor: pointer;
    z-index: 10;
}
.create-listing-add-photo-cont1.active {
    outline: 2px solid var(--black2);
}

.photos-preview-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;    
    overflow: auto;
}
.photos-preview-box {
    width: calc((100% / 2) - 5px);
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background: var(--grey1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 1px dashed var(--grey2);
}
.photos-preview-box img {
    position: absolute;
    width: 100%;
}
.photos-preview-box-option-btn {
    position: absolute;
    background: var(--grey2);
    padding: 8px;
    border-radius: var(--radius2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 10px;
    top: 10px;
    opacity: .8;
}





/*
|----------------------------------------
| Skeleton
|----------------------------------------
*/
