@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --white: #FFFF;
    --white2: #f9fafa;
    --white3: #ededf0;
    --black1: #1d1d1d;
    --black2: #434343;
    --black3: #555555;

    --grey1: #DDDDDD;
    --grey2: #f0f0f0;

    --blue1: rgba(34, 106, 233, 1);
    --red1: rgb(245, 62, 62);
    --red2: rgb(155, 14, 14);

    --dark-blue1: rgba(17, 22, 37, 1);


    --text-xl1: 60px;
    --text-xl2: 50px;
    --text-xl3: 40px;
    --text-l1: 30px;
    --text-l2: 24px;
    --text-l3: 20px;
    --text-m1: 18px;
    --text-m2: 16px;
    --text-m3: 14px;

    --radius1: 30px;
    --radius2: 20px;
    --radius3: 10px;
    --radius4: 5px;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    background: var(--white) !important;
}





/*
|----------------------------------------
| width and height
|----------------------------------------
*/
.h-100vh {
    height: 100vh;
}





/*
|----------------------------------------
| Colors and BGs 
|----------------------------------------
*/
.color-white1 {
    color: var(--white);
}
.color-white2 {
    color: var(--white2);
}
.color-white3 {
    color: var(--white3);
}
.color-black1 {
    color: var(--black1);
}
.color-black2 {
    color: var(--black2);
}
.color-black3 {
    color: var(--black3);
}
.color-blue1 {
    color: var(--blue1);
}





/*
|----------------------------------------
| Text 
|----------------------------------------
*/
.text-xl1 {
    font-size: var(--text-xl1);
}
.text-xl2 {
    font-size: var(--text-xl2);
}
.text-xl2 {
    font-size: var(--text-xl3);
}
.text-l1 {
    font-size: var(--text-l1);
}
.text-l2 {
    font-size: var(--text-l2);
}
.text-l3 {
    font-size: var(--text-l3);
}
.text-m1 {
    font-size: var(--text-m1);
}
.text-m2 {
    font-size: var(--text-m2);
}
.text-m3 {
    font-size: var(--text-m3);
}

.text-center {
    text-align:center;
}
.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.link-m3 {
    text-decoration: none;
    font-size: var(--text-m3);
    color: var(--black2);
    cursor: pointer;
}
.link-m3:hover {
    text-decoration: underline;
    color: var(--black1)
}





/*
|----------------------------------------
| Margins 
|----------------------------------------
*/
.mar-top-l1 {
    margin-top: 60px;
}
.mar-top-l2 {
    margin-top: 50px;
}
.mar-top-l3 {
    margin-top: 40px;
}
.mar-top-1 {
    margin-top: 30px;
}
.mar-top-2 {
    margin-top: 20px;
}
.mar-top-3 {
    margin-top: 10px;
}
.mar-top-4 {
    margin-top: 5px;
}

.mar-bottom-l1 {
    margin-bottom: 60px;
}
.mar-bottom-l2 {
    margin-bottom: 50px;
}
.mar-bottom-l3 {
    margin-bottom: 40px;
}
.mar-bottom-1 {
    margin-bottom: 30px;
}
.mar-bottom-2 {
    margin-bottom: 20px;
}
.mar-bottom-3 {
    margin-bottom: 10px;
}
.mar-bottom-4 {
    margin-bottom: 5px;
}


.mar-end-1 {
    margin-right: 30px;
}
.mar-end-2 {
    margin-right: 20px;
}
.mar-end-3 {
    margin-right: 10px;
}
.mar-end-4 {
    margin-right: 5px;
}


.mar-start-l1 {
    margin-left: 60px;
}
.mar-start-l2 {
    margin-left: 50px;
}
.mar-start-l3 {
    margin-left: 40px;
}
.mar-start-1 {
    margin-left: 30px;
}
.mar-start-2 {
    margin-left: 20px;
}
.mar-start-3 {
    margin-left: 10px;
}
.mar-start-4 {
    margin-left: 5px;
}


.mar-y-1 {
    margin: 30px 0;
}
.mar-y-2 {
    margin: 20px 0;
}
.mar-y-3 {
    margin: 10px 0;
}
.mar-y-4 {
    margin: 5px 0;
}


.m-auto {
    margin: auto;
}
.m-start-auto {
    margin-left: auto;
}
.m-end-auto {
    margin-right: auto;
}
.m-top-auto {
    margin-top: auto;
}
.m-bottom-auto {
    margin-bottom: auto;
}


.top1 {
    top: 30px;
}
.top2 {
    top: 20px;
}
.top3 {
    top: 10px;
}
.top0 {
    top: 0;
}

.right1 {
    right: 30px;
}
.right2 {
    right: 20px;
}
.right3 {
    right: 10px;
}
.right0 {
    right: 0;
}

.left1 {
    left: 30px;
}
.left2 {
    left: 20px;
}
.left3 {
    left: 10px;
}
.left0 {
    left: 0;
}

.gapl1 {
    gap: 60px;
}
.gapl2 {
    gap: 50px;
}
.gapl3 {
    gap: 40px;
}
.gap1 {
    gap: 30px;
}

.gap2 {
    gap: 20px;
}

.gap3 {
    gap: 10px;
}
.gap4 {
    gap: 5px;
}





/*
|----------------------------------------
| Padding 
|----------------------------------------
*/
.padding1 {
    padding: 50px;
}
.padding2 {
    padding: 30px;
}
.padding3 {
    padding: 20px;
}
.padding4 {
    padding: 10px;
}


.padding-x-1 {
    padding: 0 50px;
}
.padding-x-2 {
    padding: 0 30px;
}
.padding-x-3 {
    padding: 0 20px;
}
.padding-x-4 {
    padding: 0 10px;
}


.padding-y-1 {
    padding: 50px 0;
}
.padding-y-2 {
    padding: 30px 0;
}
.padding-y-3 {
    padding: 20px 0;
}
.padding-y-4 {
    padding: 10px 0;
}


.padding-start-1 {
    padding-left: 50px;
}
.padding-start-2 {
    padding-left: 30px;
}
.padding-start-3 {
    padding-left: 20px;
}
.padding-start-4 {
    padding-left: 10px;
}


.padding-end-1 {
    padding-right: 50px;
}
.padding-end-2 {
    padding-right: 30px;
}
.padding-end-3 {
    padding-right: 20px;
}
.padding-end-4 {
    padding-right: 10px;
}


.padding-top-1 {
    padding-top: 50px;
}
.padding-top-2 {
    padding-top: 30px;
}
.padding-top-3 {
    padding-top: 20px;
}
.padding-top-4 {
    padding-top: 10px;
}


.padding-bottom-1 {
    padding-bottom: 50px;
}
.padding-bottom-2 {
    padding-bottom: 30px;
}
.padding-bottom-3 {
    padding-bottom: 20px;
}
.padding-bottom-4 {
    padding-bottom: 10px;
}





/*
|----------------------------------------
| Positions 
|----------------------------------------
*/
.center-absolute-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}





/*
|----------------------------------------
| Flex 
|----------------------------------------
*/
.flex-direction-y {
    flex-direction: column;
}
.flex-direction-y-reverse {
    flex-direction: column-reverse;
}





/*
|----------------------------------------
| Lines 
|----------------------------------------
*/
.h-line-general-grey1 {
    height: 1px;
    background: var(--grey1);
}





/*
|----------------------------------------
| Icons 
|----------------------------------------
*/
.icon-l {
    height: 56px;
    width: 56px;
}
.icon-m {
    height: 36px;
    width: 36px;
}
.icon-s {
    height: 24px;
    width: 24px;
}





/*
|----------------------------------------
| Cursor 
|----------------------------------------
*/
.cursor-pointer {
    cursor: pointer;
}






/*
|----------------------------------------
| Transitions 
|----------------------------------------
*/
.transition-fade-in {
    animation: fadeIn linear .4s;
}





/*
|----------------------------------------
| Animations 
|----------------------------------------
*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes SkeletonAnimation {
    /* 0% {transform: translateX(-150%);}
    50% {transform: translateX(-60%);}
    100% {transform: translateX(150%);} */
    0% {opacity: .1;}
    10% {opacity: .4;}
    20% {opacity: .6;}
    30% {opacity: .8;}

    40% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 1;}

    70% {opacity: .8;}
    80% {opacity: .6;}
    90% {opacity: .4;}
    100% {opacity: .1;}
}





/*
|----------------------------------------
| Skeletons 
|----------------------------------------
*/
.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: SkeletonAnimation 1.5s infinite;
}
.shimmer {
    /* width: 50%; */
    width: 100%;
    height: 100%;
    /* background: rgba(255,255,255,0.1); */
    background: var(--grey1);
    /* transform: skewX(-20deg); */
}





/*
|----------------------------------------
| Line Clamps 
|----------------------------------------
*/
.line-clamp-3 {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

