/*
|----------------------------------------
| Buttons 
|----------------------------------------
*/
.primary-btn-blue1 {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: var(--radius3);
    color: var(--white);
    cursor: pointer;
    border: none;
}
.primary-btn-blue1 {
    background: var(--blue1);
}



.secondary-btn-blue1, .secondary-btn-black1, .secondary-btn-black2 {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: var(--radius3);
    cursor: pointer;
    border: none;
}
.secondary-btn-blue1 {
    border: 1px solid var(--blue1);
}
.secondary-btn-black1 {
    border: 1px solid var(--black1);
} 
.secondary-btn-black2 {
    border: 1px solid var(--black2);
}



.category-btn-blue1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: var(--text-m3);
    color: var(--black2);
    text-align: center;
    opacity: .8;
}

.category-icon1 {
    height: 30px;
}

.category-btn-blue1.active {
    border-bottom: 2px solid var(--black1);
    color: var(--black1);
    opacity: 1;
}




/*
|----------------------------------------
| Contents 
|----------------------------------------
*/
.content1, .content1.compressed {
    width: 100%;
    padding: 50px;
    min-height: 70vh;
}
.content1.compressed {
    width: calc(100% - 300px);
    margin: 0 0 0 300px;
}