/*
|----------------------------------------
| Buttons 
|----------------------------------------
*/
.primary-btn-blue1, .primary-btn-black1, .primary-btn-black2, .primary-btn-grey1, .primary-btn-grey2 {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: var(--radius3);
    color: var(--white);
    cursor: pointer;
    border: none;
}
.primary-btn-blue1 {
    background: var(--blue1);
}
.primary-btn-black1 {
    background: var(--black1);
}
.primary-btn-black2 {
    background: var(--black2);
}
.primary-btn-grey1 {
    background: var(--grey1);
    color: var(--black1);
}
.primary-btn-grey2 {
    background: var(--grey2);
    color: var(--black1);
}

.primary-btn-black1.disabled {
    opacity: .5;
    cursor: not-allowed;
}



.secondary-btn-blue1, .secondary-btn-black1, .secondary-btn-black2, 
.secondary-btn2-black1, .secondary-btn2-black2, .secondary-btn2-grey1, .secondary-btn2-grey2 {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: var(--radius3);
    cursor: pointer;
    border: none;
    background: transparent;
}
.secondary-btn-blue1 {
    border: 1px solid var(--blue1);
}
.secondary-btn-black1 {
    border: 1px solid var(--black1);
} 
.secondary-btn-black2 {
    border: 1px solid var(--black2);
}


.secondary-btn2-black1 {
    border-radius: var(--radius1);
    border: 1px solid var(--black1);    
}
.secondary-btn2-black2 {
    border-radius: var(--radius1);
    border: 1px solid var(--black2);
}
.secondary-btn2-grey1 {
    border-radius: var(--radius1);
    border: 1px solid var(--grey1);
}
.secondary-btn2-grey2 {
    border-radius: var(--radius1);
    border: 1px solid var(--grey2);
}






.category-btn-blue1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: var(--text-m3);
    color: var(--black2);
    text-align: center;
    opacity: .8;
}

.category-icon1 {
    height: 30px;
}

.category-btn-blue1.active {
    border-bottom: 2px solid var(--black1);
    color: var(--black1);
    opacity: 1;
}

.category-btn-text {
    width: 80px;
}



.circular-btn-1,
.secondary-circular-btn-black1{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--grey2);
    cursor: pointer;
}

.secondary-circular-btn-black1 {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 1px solid var(--black1);
    color: var(--black1);
}
.secondary-circular-btn-black1.disabled {
    opacity: .5;
}






/*
|----------------------------------------
| Contents 
|----------------------------------------
*/
.content1, .content1.compressed {
    width: 100%;
    padding: 50px;
    min-height: 100vh;
}
.content1.compressed {
    width: calc(100% - 300px);
    margin: 0 0 0 300px;
}

.content2 {
    width: 100%;
    padding: 50px 250px;
    min-height: 100vh;
}
.content3 {
    width: 100%;
    padding: 0 250px;
    min-height: 100vh;
}





/*
|----------------------------------------
| Icons 
|----------------------------------------
*/
.icon1 {
    height: 50px;
}
.icon2 {
    height: 40px;
}
.icon3 {
    height: 30px;
}





/*
|----------------------------------------
| Icons 
|----------------------------------------
*/
.hr-line1 {
    width: 100%;
    height: 1px;
    background: var(--black2);
    opacity: .3;
}





/*
|----------------------------------------
| Skeleton 
|----------------------------------------
*/
.text-skeleton-sm, .text-skeleton-m, .text-skeleton-l {
    height: 20px;
    background: var(--grey2);
}
.text-skeleton-m {
    height: 30px;
}
.text-skeleton-l {
    height: 40px;
}





/*
|----------------------------------------
| Image Grid 
|----------------------------------------
*/
.img-grid-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.img-grid-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img-grid-column img {
    vertical-align: middle;
    width: 100%;
}