/*
|----------------------------------------
| Inputs 
|----------------------------------------
|*/
.edit-text-1 {
    padding: 8px 10px;
    font-size: var(--text-m2);
    background: var(--white2);
    border: 1px solid var(--white3);
    outline-color: var(--blue1);
    border-radius: var(--radius3);
}