/*
|----------------------------------------
| Inputs 
|----------------------------------------
|*/
.edit-text-1 {
    padding: 8px 10px;
    background: var(--white2);
    border: 1px solid var(--white3);
    outline-color: var(--blue1);
    border-radius: var(--radius3);
}
.edit-text-1.disabled1 {
    background: none;
    outline: none;
    border: none;
}

.search-bar-1 {
    display: flex;
    align-items: center;
    width: 500px;
    padding: 8px 40px 8px 20px;
    font-size: var(--text-m2);
    background: var(--white2);
    border: 1px solid var(--white3);
    outline-color: var(--blue1);
    border-radius: var(--radius2);
}
.search-btn {
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: var(--blue1);
    color: white;
    cursor: pointer;
}