.properties-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.property-box {
    width: calc(100% / 4 - 20px);
    height: 400px;
    background: var(--white);
    border-radius: var(--radius2);
    filter: drop-shadow(0 0 1px var(--grey1));
    overflow: hidden;
}

.property-box-pic {
    width: 100%;
    height: 200px;
    background: var(--grey1);
    display: flex;
    justify-content: center;
    position: relative;
}
.property-box-pic img {
    position: absolute;
    height: 100%;
}

.property-box-desc {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.property-box-agent-pfp {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: var(--grey1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}
.property-box-agent-pfp img {
    position: absolute;
    height: 100%;
}

.listing-box-specs-box {
    background: var(--grey1);
    padding: 3px 8px;
    display: flex;
    gap: 10px;
    border-radius: var(--radius3);
    align-items: center;
    font-size: var(--text-m3);
}
.listing-box-specs-box img {
    height: 20px;
}