.modal1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--white);
    overflow: auto;
    z-index: 22;
}

.modal-box3, .modal-box2, .modal-filter-box{
    width: 400px;
    padding: 25px;
    border-radius: var(--radius2);
    background: var(--white);
    filter: drop-shadow(0 0 10px var(--black2));
}

.modal-box2 {
    width: 600px;
}
.modal-filter-box {
    width: 550px;
    padding: 0;
}

.circle-btn1, .circle-btn1-grey2 {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 100%;  
    cursor: pointer;
}

.circle-btn1-grey2 {
    background: var(--grey2);
}

.circle-btn1:hover {
    background: var(--grey2);
}





/* Edit Listing */
.edit-listing-add-photo-modal-pic-cont {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    padding: 10px;
}

/* Client Add Add Property to wishlist Modal */
.wishlist-box-img-cont-modal {
    width: 200px;
    height: 200px;
    border-radius: var(--radius1);
    background: var(--white);
    filter: drop-shadow(0 0 3px var(--grey1));
    padding: 5px;
    cursor: pointer;    
}
.wishlists-cont-modal {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 5px;
    width: 100%;
    gap: 15px;
}





/* Property Selling Filter */
.property-selling-filter-modal-head {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--grey1);
    padding: 15px 20px;
}
.property-selling-filter-modal-body {
    width: 100%;
    height: 700px;
    overflow: auto;
    padding: 30px 25px;
}
.property-selling-filter-modal-foot {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    position: relative;
    border-top: 1px solid var(--grey1);
    padding: 15px 20px;
}

.property-selling-filter-modal-circle-btn1 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid var(--grey1);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--black3);
}
.property-selling-filter-modal-circle-btn1:hover {
    border: 1px solid var(--black2);
    color: var(--black1);
}
.property-selling-filter-modal-circle-btn1.disabled {
    opacity: .5;
    cursor: not-allowed;
}
.property-selling-filter-modal-circle-btn1.disabled:hover {
    border: 1px solid var(--grey1);
    color: var(--black3);
}
.amenity-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid var(--grey1);
    color: var(--black3);
    cursor: pointer;
}
.amenity-btn.active {
    color: var(--black1);
    border: 1px solid var(--black1);
}
.amenity-btn img {
    width: 25px;
    aspect-ratio: 1/1;
}