.modal1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--white);
    overflow: auto;
    z-index: 21;
}

.modal-box3, .modal-box2{
    width: 400px;
    padding: 25px;
    border-radius: var(--radius2);
    background: var(--white);
    filter: drop-shadow(0 0 10px var(--black2));
}

.modal-box2 {
    width: 600px;
}

.circle-btn1, .circle-btn1-grey2 {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 100%;  
    cursor: pointer;
}

.circle-btn1-grey2 {
    background: var(--grey2);
}

.circle-btn1:hover {
    background: var(--grey2);
}





/* Edit Listing */
.edit-listing-add-photo-modal-pic-cont {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    padding: 10px;
}

/* Client Add Add Property to wishlist Modal */
.wishlist-box-img-cont-modal {
    width: 200px;
    height: 200px;
    border-radius: var(--radius1);
    background: var(--white);
    filter: drop-shadow(0 0 3px var(--grey1));
    padding: 5px;
    cursor: pointer;    
}
.wishlists-cont-modal {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 5px;
    width: 100%;
    gap: 15px;
}