/*
|----------------------------------------
| Navbar 
|----------------------------------------
*/
.navbar1 {
    width: 100%;
    height: 70px;
    padding: 10px 50px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0 0 1px var(--grey1));
    position: sticky;
    top: 0;
    z-index: 20;
}
.navbar-1-logo-pic {
    width: 50px;
    height: 50px;
}
.navbar1-links {
    display: flex;
    gap: 20px;
}
.navbar1-link {
    font-size: var(--text-m1);
    padding: 5px 10px;
    text-decoration: none;
    color: var(--black2);
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar1-link.active {
    color: var(--black1);
    border-bottom: 1px solid var(--black1);
}




/*
|----------------------------------------
| Navbar Client
|----------------------------------------
*/
.nav-hr {
    height: 1px;
    background: var(--grey1);
}
.navbar2 {
    width: calc(100% - 0px);
    height: 70px;
    padding: 10px 50px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0 0 1px var(--grey1));
    position: sticky;
    top: 0;
    z-index: 20;
}
.navbar2-mini-profile {
    display: flex;
    gap: 10px;
    border-radius: var(--radius1);
    border: 1px solid var(--grey1);
    align-items: center;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    user-select: none;
}
.navbar-2-pfp {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: var(--black1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.navbar-2-pfp img {
    position: absolute;
    height: 100%;
}


.nav-modal1 {
    padding: 10px 0;
    border-radius: var(--radius3);
    filter: drop-shadow(0 0 10px var(--grey1));    
    background: var(--white);
    position: fixed;
    z-index: 22;
    right: 50px;
    top: 65px
}
.nav-modal1-links {
    display: flex;
    flex-direction: column;
    gap: 5px;    
}
.nav-modal1-link {
    display: flex;
    width: 250px;
    align-items: center;
    padding: 10px 20px;
    user-select: none;
    text-decoration: none;
    color: var(--black2);
    cursor: pointer;
}
.nav-modal1-link:hover {
    background: var(--grey2);
}





/*
|----------------------------------------
| Navbar Agents
|----------------------------------------
*/
.navbar3 {
    width: calc(100% - 0px);
    height: 70px;
    padding: 0 50px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0 0 1px var(--grey1));
    position: sticky;
    top: 0;
    z-index: 20;
}
.nav3-links {
    display: flex;
    gap: 10px;
    height: 100%;
}
.nav3-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;    
    user-select: none;
    text-decoration: none;
    color: var(--black2);
    cursor: pointer;
}
.nav3-link.active {
    border-bottom: 2px solid var(--blue1);
    color: var(--blue1);
}

.navbar-3-circle {
    width: 40px;
    height: 40px;
    background: var(--white);
    filter: drop-shadow(0 0 1px var(--black2));
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navbar-3-circle.active {
    border: 2px solid var(--black2);
}

.navbar-3-pfp {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: var(--black1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.navbar-3-pfp img {
    position: absolute;
    height: 100%;
}

.nav-notif1 {
    width: 400px;
    height: 600px;
    padding: 30px 20px;
    border-radius: var(--radius3);
    filter: drop-shadow(0 0 10px var(--grey1));    
    background: var(--white);
    position: fixed;
    z-index: 22;
    right: 80px;
    top: 75px
}
.notifications {
    width: 100%;
    height: 100%;
}


.navbar4, .bot-navbar4 {
    width: calc(100% - 0px);
    padding: 20px 80px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 20;
}

.bot-navbar4 {
    bottom: 0;
    position: sticky;
}





/*
|----------------------------------------
| Navbar Admin
|----------------------------------------
*/
.navbar1-admin {
    width: calc(100% - 100px);
    height: 70px;
    padding: 0 50px;
    margin: 0 0 0 100px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0 0 1px var(--grey1));
    position: sticky;
    top: 0;
    z-index: 20;
    transition: all .2s ease;
}
.navbar1-admin.compressed {
    width: calc(100% - 300px);
    margin: 0 0 0 300px;
}


.sidenav1 {
    width: 300px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--white);
    filter: drop-shadow(0 0 1px var(--grey1));
    padding: 0 20px 50px 20px;
    z-index: 21;
    transition: all .2s ease;
}
.sidenav1.minimize {
    width: 100px;
}

.sidenav1-logo-cont {
    width: 100%;
    height: 70px;
    padding: 10px;    
}


.sidenav1-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidenav1-link {
    padding: 15px 10px;
    border-radius: 10px;
    color: var(--black1);
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
}
.sidenav1-link.active {
    background: var(--blue1);
    color: var(--white);
}