.signinup-cont {
    width: 100%;
    height: 100vh;
    padding: 100px;
}



.sign-in-box, .sign-up-box {
    margin: auto;
    width: 500px;
    border-radius: var(--radius2);
    background: var(--white);
    filter: drop-shadow(0 0 1px var(--grey1));
    padding: 30px;
}

.sign-up-box {
    width: 800px;
}