:root {
    --action-box-width: 500px;
}

.property-infos {
    display: flex;
    gap: 50px;
}


.property-pictures {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 500px;
    border-radius: var(--radius2);
    overflow: hidden;
}
.property-picture {
    background: var(--grey1);
    height: 100%;
    cursor: pointer;
}

.property-picture.large {
    width: 800px;
}
.property-picture.small {
    width: calc(100% / 2 - 5px);
    height: calc(100% / 2);
}




.property-infos-texts {
    width: calc(100% - var(--action-box-width));
}
.about-content {
    width: 100%;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}



.action-box {
    width: var(--action-box-width);
    padding: 30px;
    background: var(--white);
    filter: drop-shadow(0 0 5px var(--grey1));
    border-radius: var(--radius2);
    margin: 0 0 auto 0;
    position: sticky;
    top: 100px;
}

.listed-by-pfp {
    width: 75px;
    height: 75px;
    background: var(--grey1);
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 100%;
    position: relative;
    filter: drop-shadow(0 0 1px var(--grey1));
}
.listed-by-pfp img {
    position: absolute;
    height: 100%;
}


.listing-spec-box {
    padding: 8px 10px;
    font-size: var(--text-m1);
    border: 1px solid var(--black2);
    border-radius: var(--radius2);
    display: flex;
    gap: 10px;
    align-items: center;
}
.listing-spec-box2 {
    padding: 5px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.listing-spec-box3 {
    padding: 5px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.listing-spec-box-icon {
    height: 25px;
}




.property-map-cont {
    width: 100%;
    height: 50vh;
    background: var(--grey1);
    overflow: hidden;
    position: relative;
    border-radius: var(--radius2);
}



.listing-hr {
    height: 1px;
    background: var(--black2);
    opacity: 0.3;
}