.wishlist-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.wishlist-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wishlist-box-img-cont {
    width: 300px;
    height: 300px;
    border-radius: var(--radius1);
    background: var(--white);
    filter: drop-shadow(0 0 3px var(--grey1));
    padding: 5px;
    cursor: pointer;
}
.wishlist-box-img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: calc(var(--radius1) - 5px);
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.wishlist-box-img img {
    position: absolute;
    height: 100%;
}